<p id="notice"><%= notice %></p>

<p>
  <strong>Reference number:</strong>
  <%= @booking.reference_number %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
