<%= render "header" %>
  <div class="ui middle aligned centered grid">
    <div class="ui container">
      <div class="ui icon message">
        <i class="gift icon"></i>
        <div class="content">
          <%= render partial: 'booking_notification' %>
          <%= render partial: 'past_bookings_link' %>
        </div>
      </div>
    </div>
  </div>
<%= render 'footer' %>
