<tr>
  <td>Depart</td>
  <td>Arriving</td>
  <td>Number of passengers</td>
  <td>Plane Name</td>
  <td>Flight Date</td>
  <td class="collapsing">
    <button class="circular ui red icon button">
      <i class="icon trash"></i>
    </button>
  </td>
</tr>
