<form class="ui form">
  <h4 class="ui dividing header">Please provide your information</h4>
  <div class="two fields">
    <div class="field">
      <label>First Name</label>
        <div class="field">
          <input type="text" name="" placeholder="E.g John">
        </div>
    </div>

    <div class="field">
      <label>Last Name</label>
      <div class="field">
        <input type="text" name="" placeholder="E.g Doe">
      </div>
    </div>
  </div>

  <div class="eight wide field">
    <label>Email</label>
    <div class="field">
      <input type="text" name="" placeholder="E.g johndoe@gmail.com">
    </div>
  </div>

  <div class="four wide field">
    <label>Gender</label>
    <select class="ui fluid dropdown">
      <option value="">Male</option>
      <option value="">Female</option>
    </select>
  </div>
<!-- Adult Passengers Information -->
  <h4 class="ui dividing header">Adult Passenger 1 Information</h4>

  <div class="two fields">
    <div class="field">
      <label>First Name</label>
        <div class="field">
          <input type="text" name="" placeholder="E.g John">
        </div>
    </div>

    <div class="field">
      <label>Last Name</label>
      <div class="field">
        <input type="text" name="" placeholder="E.g Doe">
      </div>
    </div>
  </div>

   <div class="four wide field">
    <label>Gender</label>
    <select class="ui fluid dropdown">
      <option value="">Male</option>
      <option value="">Female</option>
    </select>
  </div>

<!-- Adult Passengers Information -->

<!-- Child Passengers Information -->
  <h4 class="ui dividing header">Child Passenger 1 Information</h4>

  <div class="two fields">
    <div class="field">
      <label>First Name</label>
        <div class="field">
          <input type="text" name="" placeholder="E.g John">
        </div>
    </div>

    <div class="field">
      <label>Last Name</label>
      <div class="field">
        <input type="text" name="" placeholder="E.g Doe">
      </div>
    </div>
  </div>

   <div class="four wide field">
    <label>Gender</label>
    <select class="ui fluid dropdown">
      <option value="">Male</option>
      <option value="">Female</option>
    </select>
  </div>

<!-- Child Passengers Information -->

<!-- Infant Passengers Information -->
  <h4 class="ui dividing header">Infant Passenger 1 Information</h4>

  <div class="two fields">
    <div class="field">
      <label>First Name</label>
        <div class="field">
          <input type="text" name="" placeholder="E.g John">
        </div>
    </div>

    <div class="field">
      <label>Last Name</label>
      <div class="field">
        <input type="text" name="" placeholder="E.g Doe">
      </div>
    </div>
  </div>

   <div class="four wide field">
    <label>Gender</label>
    <select class="ui fluid dropdown">
      <option value="">Male</option>
      <option value="">Female</option>
    </select>
  </div>

<!-- Infant Passengers Information -->



  <div class="ui basic blue button" tabindex="0">
    Submit
  </div>
</form>