<form class="ui form">
  <h4 class="ui dividing header">Search Flights</h4>
  <div class="three fields">
    <div class="field">
      <label>From</label>
        <div class="field">
          <input type="text" name="" placeholder="Departure">
        </div>
    </div>

    <div class="field">
      <label>Date</label>
      <div class="field">
          <input type="date" name="" placeholder="Last Name">
      </div>
    </div>

    <div class="field">
      <label>Class</label>
      <select class="ui fluid dropdown">
        <option value="">Economy</option>
        <option value="AL">Business</option>
      </select>
    </div>
  </div>

  <div class="field">
    <label>To</label>
    <div class="field">
      <input type="text" name="" placeholder="Arrival">
    </div>
  </div>

  <h4 class="ui dividing header">Passengers</h4>
  <div class="three fields">
    <div class="field">
      <label>Adults(12+)</label>
      <select class="ui fluid dropdown">
        <option value="">Economy</option>
        <option value="AL">Business</option>
      </select>
    </div>

    <div class="field">
      <label>Children (age 2-11)</label>
      <select class="ui fluid dropdown">
        <option value="">Economy</option>
        <option value="AL">Business</option>
      </select>
    </div>

    <div class="field">
      <label>Infants (age under 2)</label>
      <select class="ui fluid dropdown">
        <option value="">Economy</option>
        <option value="AL">Business</option>
      </select>
    </div>
  </div>

  <div class="ui basic blue button" tabindex="0">
    <i class="search icon"></i>
    Search
  </div>
</form>