<section id="footer">
  <div class="ui black inverted vertical segment">
    <div class="ui center aligned container">
      <a class="item" href="#">&copy; Fly Safe 2016</a>
    </div>
  </div>
</section>