<div class="ui small inverted menu">
  <a class="active item">
    Home
  </a>
  <a class="item" href="/about">
    About Us
  </a>
  <a class="item" href="/contact">
    Contact Us
  </a>
  <div class="right menu">
    <a class="item">
      <div class="ui primary button">Sign Up</div>
    </a>

    <a class="item">
      <button class="ui teal button">Login</button>
    </a>
  </div>
</div>